/**
 * Shared declarations for some basic elements.
 */

$base-spacing-px: $base-line-height; 
$base-spacing-rem: ($base-line-height / $base-font-size) * 1rem;

/**
 * Margins declared only in one direction (vertically: bottom, horizontally: left)
 * based on the following article:
 * csswizardry.com/2012/06/single-direction-margin-declarations
 */

h1, h2, h3, h4, h5, h6,
ul, ol, dl,
blockquote, p, address,
hr,
table,
fieldset, figure,
pre {
  margin-bottom: $base-spacing-px; // fallback
  margin-bottom: $base-spacing-rem;
}

ul, ol,
dd {
  margin-left: $base-spacing-px; // fallback
  margin-left: $base-spacing-rem;
}
